<form action = "{{ path('new-post') }}" method="post"
    enctype = "multipart/form-data">

    <p>Заголовок: <input type="text" name = "title"></p>
    <p>Текст: <input type="text" name = "text"></p>
    <p>Картинка: <input type="file" name = "text"></p>

</form>